*/bin
*/obj
*/aspnet_client

*.pubxml*
*.suo

Thumbs.db
id_nows.txt
id_numbers.txt

__MACOSX

/*.Web/upload
/*.WebAdmin/Scripts/upload

/packages
/Test
/Web/Content
/Web/Web/Content
/TestForm/obj
/TestForm/bin
*/Scripts/easyui
*/xheditor
*.mdf
*.ldf